# modules: installed packages (modules), can be installed with npm install
app/frontend/node_modules
app/backend/node_modules

# output of building: build with npm build
app/frontend/public/bundle.js
app/frontend/public/output.css

# any md file
*.md

# .env
.env

# any DS_Store file
*.DS_Store

# for package-lock.json, we are working with an app, so we keep it

# additional
app/backend/tests
app/backend/test
html's
me
app/backend/avatars
