services:

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:9.1.3 # pulls image
  #   container_name: elasticsearch # for running the container
  #   ports:
  #     - "9200:9200"
  #   volumes:
  #     # - ./services/elasticsearch/certs:/usr/share/elasticsearch/config/certs
  #     - ~/goinfre/snapshots:/usr/share/elasticsearch/snapshots/my_backup_repo
  #   environment:
  #     - ES_JAVA_OPTS=-Xms1g -Xmx1g # tell it to use 1gb of ram
  #     - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
  #     - ES_SETTING_PATH_REPO=/usr/share/elasticsearch/snapshots/my_backup_repo
  #   networks:
  #     - project-network

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:9.1.3
  #   container_name: kibana # for running the container
  #   ports:
  #     - "5601:5601"
  #   networks:
  #     - project-network
  #   depends_on:
  #     - elasticsearch

  # logstash:
  #   image: docker.elastic.co/logstash/logstash:9.1.3
  #   container_name: logstash # for running the container
  #   ports:
  #     - "5044:5044"   # for input
  #     - "9600:9600"   # for monitoring
  #   volumes:
  #    - ./services/logstash/:/usr/share/logstash/pipeline/ # for pipeline config
  #    - ./services/elasticsearch/http_ca.crt:/etc/logstash/config/certs/http_ca.crt # mounting elasticsearch certificate
  #   environment:
  #     - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
  #   networks:
  #     - project-network
  #   depends_on:
  #     - elasticsearch

  app-backend: # I will enter those containers
    build:
      context: app/backend
    container_name: app-backend
    ports:
      - "3000:3000" # tmp
    environment:
      - CLIENT_ID=${CLIENT_ID}
      # - CLIENT_SECRET=${CLIENT_SECRET}
      - REDIRECT_URI=${REDIRECT_URI}
      - PORT=${PORT}
      - HOST=${HOST}
      - WEBSITE_URL=${WEBSITE_URL}
    volumes:
      - ./app/frontend/public:/backend/public
      - ./app/backend:/backend # tmp
      - shared-data:/backend/env
    # depends_on:
    #   - logstash
    networks:
      - project-network

  app-frontend:
    build:
      context: app/frontend
    container_name: app-frontend
    volumes: # tmp, we will have to mound public after we copy in dockerfile
      - ./app/frontend:/frontend
    ports: # tmp
      - "4000:4000"
    networks: # tmp
      - project-network

#   prometheus:
#     image: prom/prometheus
#     container_name: prometheus
#     volumes:
#       - ./services/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
#       - ./services/prometheus/alerts.yml:/etc/prometheus/alerts.yml
#       - ~/goinfre/prometheus:/prometheus
#     ports:
#       - "9090:9090"
#     command:
#       - "--config.file=/etc/prometheus/prometheus.yml"
#       - "--storage.tsdb.path=/prometheus"
#       - "--storage.tsdb.retention.time=90d"
#     # depends_on:
#     #   - app-backend
#     networks:
#       - project-network

# # must connect with prometheus
#   grafana:
#     image: grafana/grafana
#     container_name: grafana
#     ports:
#       - "3000:3000"
#     environment:
#       GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
#       GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
#       GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /var/lib/grafana/dashboards/server-dashboard.json
#     volumes:
#       - ./services/grafana/prometheus.yml:/etc/grafana/provisioning/datasources/prometheus.yml
#       - ./services/grafana/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
#       - ./services/grafana/server-dashboard.json.json:/var/lib/grafana/dashboards/server-dashboard.json
#     networks: # maybe tmp
#       - project-network

  # elasticsearch-exporter:
  #   image: prom/elasticsearch-exporter:master
  #   container_name: elasticsearch-exporter
  #   ports:
  #     - "9114:9114"
  #   environment:
  #     ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
  #   command: # entry command falgs
  #     - --es.uri=https://elastic:${ELASTIC_PASSWORD}@elasticsearch:9200
  #     - "--es.ssl-skip-verify"
  #   networks:
  #     - project-network

  # logstash-exporter:
  #   image: kuskoman/logstash-exporter:v2.0.0-pre11   # updated version
  #   container_name: logstash-exporter
  #   ports:
  #     - "9198:9198"
  #   volumes:
  #     - ./services/logstash-exporter/config.yml:/app/config.yml
  #   networks:
  #     - project-network

  # kibana-exporter:
  #   image: chamilad/kibana-prometheus-exporter:v8.7.x.2
  #   container_name: kibana-exporter
  #   ports:
  #     - "9684:9684"
  #   environment:
  #     - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
  #   command: >
  #     -kibana.username elastic
  #     -kibana.password ${ELASTIC_PASSWORD}
  #     -kibana.uri "http://kibana:5601"
  #     -wait
  #   networks:
  #     - project-network

  # proxy server
  nginx:
    build:
      context: ./app/nginx-modsecurity
    container_name: nginx-modsecurity
    ports:
      - "443:443"
    volumes:
      - ./app/nginx-modsecurity/modsecurity.conf:/etc/nginx/modsecurity.conf
      - ./app/nginx-modsecurity/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - project-network

  vault-server:
    build:
      context: ./services/vault
    container_name: vault-server
    ports:
      - "8200:8200"
    environment:
      - VAULT_ADDR=${VAULT_ADDR}
      - VAULT_SKIP_VERIFY=true
    volumes:
      - ./services/vault/vault.hcl:/etc/vault.d/vault.hcl
      - ~/goinfre/vault:/opt/vault/data
      - shared-data:/me
    networks:
      - project-network

networks:
  project-network:
    name: project-network

volumes:
  shared-data:

# docker exec -it elasticsearch /usr/share/elasticsearch/bin/elasticsearch-create-enrollment-token -s kibana
