* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.anchor-nav {
    font-size: 30px;
    font-weight: 700;
    font-variant: small-caps;
}


.anchor-nav:hover {
    text-decoration: underline;
    text-decoration-color: red;
    font-style: italic;
    text-decoration-thickness: 8px;
    text-underline-offset: 10px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: #1d2531;
    font-size: 16px;
    color: #9CA3AF;
}


.anchor-main {
    font-family: 'Poppins', Impact, sans-serif;
    font-size: 120px;
    text-transform: uppercase;
    transform: scaleX(1.3);
    font-style: oblique 5deg;
}

.anchor-chat {
    width: 250px;
    color: #DC2626; 
}

nav {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-item {
    margin: 0 50px;
}

body {
    height: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-areas: 
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-template-rows: 120px auto 80px;
    grid-template-columns: 100px 1fr;
    background-image: radial-gradient(circle at 10% 20%, rgba(220, 38, 38, 0.1), transparent 25%), radial-gradient(circle at 90% 80%, rgba(220, 38, 38, 0.1), transparent 25%);
}

html {
    background: #111827;
    height: 100%;
}


.anchor-general, input, button {
    font-weight: 700;
    padding: 5px 7px 3px;
    border-radius: 8px;
    background: linear-gradient(to right, #ff1a1a, #990000); 
    border: none;
    margin: 2px;
}

.anchor-general:hover, input:hover, button:hover {
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.8); 
    border: 1px solid white;
}

input[type="text"] {
    background: none;
}

.full-in-grid {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.board {
    overflow: hidden;
    width: 80vw;
    height: 40vw;
    min-width: 300px;
    min-height: 260px;
    max-width: 900px;
    max-height: 600px;
    box-shadow: 0 0 10px 5px #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px;
}

.scores {
    display: flex;
    gap: 60px;
}

.scores div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.scores .p1,
.scores .p2 {
    color: #ff1a1a;
    font-size: 1.2rem;
    font-weight: 700;
}

.scores .score-p1,
.scores .score-p2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}

.chat {
    width: 100%;
    color: #CCCCCC;
    margin: 0px;
    background: #1d2531;
    width: 100%;
    max-width: 1400px;
    border-radius: 8px;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}


.center-justify {
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.header {
    border-bottom: 1px solid #374151;
    padding-bottom: 17px;
}

.mr-1 {
    margin-right: 6px;
}

.card {
    background: #1d2531;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.flow-row {
    display: flex;
    flex-wrap: wrap;
}

.card-btn {
    width: 100%;
    transition: all 0.3s ease !important;
    background: #1d2531;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 270px;
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bottom-right {
    bottom: 0;
    right: 0;
    fill: white; 
}

.clickable {
    cursor: pointer;
}

.card .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.center-v {
    justify-content: center;
}

p {
    line-height:26px;
}

.text-center {
    text-align: center;
}

.header img {
    margin-left: 18px;
    margin-right: 12px;
}

.sticky-header {
    width: 100%;
    text-align: center;
    font-size: 14px;

    padding: 0;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    height: 0px;
}

.show {
    padding: 10px 0px;
    opacity: 1;
    height: fit-content;
}

.left {
    border-right: 1px solid #374151;
}

.chat .left {
    flex: 1;
}

.chat .right {
    flex: 3;
}

.input button {
    margin: 7px;
    border-radius: 6px;
    padding: 0px 25px;
    background-color: #0F66BD;
    color: white;
    font-weight: 700;
}

.chat button, .input button {
    border: none !important;
    box-shadow: none !important;
}

.gap-small {
    gap: 8px;
}

.btn {
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 6px;
    transition: all 0.3s ease !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.btn-secondary {
    color: white;
    background: #131A24;
}

.btn-primary {
    color: white;
    background: #DC2626;
}

.rounded-btn {
    padding: 6px 26px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 500;
    background: #DC2626;
}


.primary {
    color: #DC2626;
}

.bottom {
    align-items: end;
}

.mv-5 {
    margin: 30px 0;
}

.mv-6 {
    margin: 34px 0;
}

button {
    cursor: pointer;
}

.success {
    background-color: #329f32;
    color: white;
}

.conversation .msg .box {
    max-width: 300px;
    background: #111827;
    padding: 15px;
    border-radius: 8px;
    line-height: 20px;
    line-break: anywhere;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.conversation .box p {
    font-size: 18px;
}

.conversation {
    gap: 20px;
    margin: 0 18px;
    flex: 1;
}

.conversation .msg-me .box {
    max-width: 300px;
    background: linear-gradient(to right, #ff1a1a, #990000);
    padding: 15px;
    border-radius: 8px;
    line-height: 20px;
    line-break: anywhere;
}

.conversation .msg-me {
    align-self: flex-end;
}

.input {
    background-color: #111827;
    height: 50px;
    border-radius: 8px;
    padding: 0px;
}

.m-0 {
    margin: 0px;
}

.large-headline {
    font-size: 60px;
    font-weight: 700;
}

.pl-3 {
    padding-left: 14px !important;
}

.mb-3 {
    margin-bottom: 15px !important;
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-10 {
    margin-top: 45px;
}



.mr-5 {
    margin-right: 13px;
}

.inline-block {
    display: inline-block;
}

.max-width {
    max-width: 550px;
}

.mt-5 {
    margin-top: 20px !important;
}

.mt-1 {
    margin-top: 5px !important;
}

.mt-3 {
    margin-top: 10px !important;
}


.ml-5 {
    margin-left: 10px;
}

.mt-6 {
    margin-top: 30px;
}

.column {
    flex-direction: column;
}

.input input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0 8px;
    font-weight: 600;
    font-size: 16px;
}

.input svg {
    color: #76818C;
    width: 25px;
    padding-left: 14px;
}

.input input:focus {
    outline: none;
    box-shadow: none !important;
}

.list .active {
    background-color: #1d2531;
}

.toastify img {
    border-radius: 50%;
    margin-right: 10px;
}

.toastify  {
    font-size: 17px;
    padding: 10px 20px 10px 10px !important;
    border-radius: 5px !important;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

input::placeholder {
    color: #76818C;
}

.input input:hover {
    box-shadow: none;
}

.icon {
    fill: white;
    color: white;
    background: #131A24;
}

.round {
    border-radius: 50%;
}

.p-5 {
    padding: 25px;
}

.btn:hover, .card-btn:hover {
    transform: scale(1.02) !important;
    box-shadow: none !important;
    border: none;
}

.list-item {
    align-items: center;
    transition: all 0.3s ease;
    padding: 12px 25px;
}

.list-item:hover {
    background-color: #1d2531;
}

.mb-4 {
    margin-bottom: 17px !important;
}

.mb-7 {
    margin-bottom: 30px !important;
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.mb-6 {
    margin-bottom: 35px !important;
}

.mh-5 {
    margin-left: 20px;
    margin-right: 20px;
}

.mh-7 {
    margin-left: 35px;
    margin-right: 35px;
}

.list-item .list-item-content {
    margin: 0px 14px;
}

.list-item .list-item-content h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 0px 0px 2px 0px;
}

.list-item .list-item-content span {
    color: #9CA3AF;
    font-size: 12px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section {
    height: 80vh;
    box-sizing: border-box;
    padding: 25px 0px;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}


h6 {
    font-size: 18px;
    font-weight: 600;
}

.title-medium {
    font-size: 16px;
    font-weight: 600;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.conversation {
    display: flex;
    flex-direction: column-reverse;
    gap: 18px;
}

.scroll-box {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-box::-webkit-scrollbar {
    display: none;
}

.pv-5 {
    padding: 30px 0px;
}

.small {
    width: 40px;
    height: 40px;
}


.flex-1 {
    flex: 1;
}

.success-text {
    color: #22C55E;
}

.cards h2 {
    margin: 0px;
    font-size: 25px;
}
.danger-text {
    color: #EF4444;
}

.cards .item {
    background: #111827;
    padding: 20px;
    border-radius: 8px;
}


.mb-1 {
    margin-bottom: 5px !important;
}

.headline {
    font-size: 30px;
    font-weight: 700;
}

.mv-4 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.mt-4 {
    margin-top: 20px;
}


.item-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-secondary {
    color: #9CA3AF;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.overflow-hidden {
    overflow: hidden;
    white-space: nowrap;
}

.gap-medium {
    gap: 12px;
}


.gap-row-large {
    row-gap: 16px;
}

.gap-large {
    gap: 16px;
}

.danger {
    background-color: #C63434;
    color: white;
}

.danger svg {
    color: white;
}